/************************************************************

Author: Genevieve Masioni
Author URI : http://genevievemasioni.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0
Tags: rainbow, draw, pencil, art supplies

**************************************************************

Table of Contents:

  0. GLOBAL
  1. HEADER
  2. SIDEBAR MENU
  3. ERRORS

**************************************************************/


/************************************************
0.	GLOBAL
************************************************/

:root {
  --base-bg-color: #f2f2f2;
  --primary-color: #7cc6da;
  --secondary-color: rgb(125, 200, 223, .5);
  --base-shadow-color: #baaeab;
  --base-font-color: #A79289;
  --base-padding: 1rem;
  --base-font-family: 'IBM Plex Sans', sans-serif;
  --base-shadow: 0px 2px 10px rgba(5, 0, 56, 0.08);
}

html, body {
  font-size: 16px;
  background-color: var(--base-bg-color);
  background-blend-mode: multiply;
}

body {
  font-family: var(--base-font-family);
  overflow: hidden;
  margin: 0;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--base-font-color);
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.card {
  background: #fff;
  box-shadow: var(--base-shadow);
  border-radius: .3rem;
  box-sizing: border-box;
  padding: .5rem;
  width: min-content;
}

.divider {
  width: 100%;
  opacity: .4;
  margin: .5rem 0;
}

.vertical-divider {
  transform: rotate(90deg);
  height: 100%;
  opacity: .4;
  width: 1rem;
  margin: 0 .5rem;
}

.hidden {
  display: none;
}

/************************************************
1.	HEADER
************************************************/

#site-header {
  background-color: white;
  padding: var(--base-padding);
  display: flex;
  align-items: center;
}

#site-logo {
  margin-right: var(--base-padding);
}

#site-name {
  font-size: 1rem;
}

#project-name {
  border: 1px solid rgb(0,0,0, .4);
  border-radius: .3rem;
  padding: .3rem .5rem;
}

/************************************************
2.	SIDEBAR MENU
************************************************/

.toolbar-action {
  background: transparent;
  border: none;
  border-radius: .2rem;
  margin: 0 .2rem;
  width: 100%;
}

.toolbar-action.disabled {
  opacity: .5;
  pointer-events: none;
}

.toolbar-action:hover, .toolbar-action.selected {
  cursor: pointer;
  background: var(--secondary-color);
}

.toolbar-action-icon {
  width: 2rem;
  padding: .1rem .05rem;
}

.toolbar {
  position: absolute;
  left: 1rem;
  top: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.param label {
  margin-right: var(--base-padding);
}

.btnErase {
  margin-left: var(--base-padding);
}

.toolbar-action-modal {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

#toolbar-stroke-color:hover .stroke-color-modal,
#toolbar-stroke-width:hover .stroke-width-modal,
#toolbar-stroke-opacity:hover .stroke-opacity-modal,
#toolbar-background-pattern:hover .background-pattern-modal {
  display: block;
}

#toolbar-pencil.selected {
  cursor: url("../icons/icon_edit.svg"), pointer;
}

.background-pattern-modal {
  width: max-content;
  top: 0;
  left: 3rem;
}

.toolbar-background-pattern-choice {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: .1rem solid rgba(0,0,0, .4);
}

.toolbar-background-pattern-choice.selected {
  border-color: var(--primary-color);
}


#toolbar-stroke-color-picker {
  width: 100%;
  margin-top: var(--base-padding);
}

.stroke-color-list {
  flex-wrap: wrap;
  max-width: 3rem;
}

.stroke-color-choice {
  flex: 1 1 25%;
  margin: .2rem;
  width: 1rem;
  border-radius: 50%;
  border: .1rem solid rgba(0,0,0, .4);
  aspect-ratio: 1/1;
}

/************************************************
3.	ERRORS
************************************************/

.error-message {
  position: absolute;
  bottom: 10%;
  left: 40%;
  width: 22%;
  padding: .5rem var(--base-padding);
  text-align: center;
  background: #e51c00;
  color: white;
  display: flex;
  justify-content: space-between;
}

.error-message.hidden {
  display: none;
}

.error-message-icon {
  width: 1.3rem;
}

#error-message-close:hover {
  cursor: pointer;
  opacity: .7;
}